<p>
  Hello,
  <strong><%= "#{@user.first_name}!" %></strong> Just wanted to let you know I really liked your review of
    <strong><%= "'#{@book.title}'" %></strong> by
    <strong><%= "#{@author.first_name} #{@author.last_name}" %></strong>.
</p>