<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= "#{book.author.first_name} #{book.author.last_name}" %>
  </p>

</div>
